<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文件下载</title>
</head>
<body>
<p><a href="/">回到主页</a></p>
<p><a href="/file_hash_check">点击检测下载后的文件哈希值（注意:此网址打开较慢，请耐心等待）</a></p>
<p>点击下列的按钮下载文件，下载完成后检查文件哈希可确定文件是否损坏</p>
<p>在所有bin文件下载完成后，将下载到的所有bin文件和安装器放在一个目录下再执行，否则会安装失败！</p>
<p><a href="/download_file1" download>
  <button>下载文件1</button>
</a>
</p>
<p>
<a href="/download_file2" download>
  <button>下载文件2</button>
</a>
</p>
<p>
<a href="/download_file3" download>
  <button>下载文件3</button>
</a>
</p>
<p>
  <a href="/download_merger" download>
    <button>下载合并器</button>
  </a>
</p>
</body>
</html>