<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载文件哈希校对</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="../static/script.js"></script>
</head>
<body>
<div>
    <p><a href="/">回到主页</a></p>
    <p>如果你下载的文件的哈希值与这里的哈希值不同，说明文件已损坏</p>
</div>
<div>
    <button id="hashButton1" onclick="getFile1Hash()">查看文件1的哈希值</button>
    <br><br>
    <label for="hashBox1"><input type="text" id="hashBox1" readonly></label>
</div>
<br><br>
<div>
    <button id="hashButton2" onclick="getFile2Hash()">查看文件2的哈希值</button>
    <br><br>
    <label for="hashBox2"><input type="text" id="hashBox2" readonly></label>
</div>
<br><br>
<div>
    <button id="hashButton3" onclick="getFile3Hash()">查看文件3的哈希值</button>
    <br><br>
    <label for="hashBox3"><input type="text" id="hashBox3" readonly></label>
</div>
<br><br>
<div>
    <button id="hashButtonMerger" onclick="getMergerHash()">查看合并器的哈希值</button>
    <br><br>
    <label for="hashBoxMerger"><input type="text" id="hashBoxMerger" readonly></label>
</div>
</body>
</html>
